.metricsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(40, 44, 52, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.metricItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  flex: 1 0 calc(10% - 20px);
}

.metricLabel {
  font-size: 0.8rem;
  color: #8a9199;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 2.5em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.metricValue {
  font-size: 1.2rem;
  color: #e2e4e7;
  font-weight: 500;
}

@media (max-width: 768px) {
  .metricsContainer {
    flex-direction: column;
  }

  .metricItem {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .metricLabel {
    margin-bottom: 0;
    justify-content: flex-start;
    height: auto;
  }
}
