.codeContainer {
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  height: 500px;
}

.codeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282a36;
  border-bottom: 1px solid #44475a;
}

.codeHeader h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #e2e4e7;
}

.headerControls {
  display: flex;
  align-items: center;
}

.languageSelect {
  padding: 5px;
  border-radius: 4px;
  background-color: #44475a;
  color: #f8f8f2;
  border: none;
  font-size: 14px;
  max-width: 150px; /* Adjust this value as needed */
  font-family: 'Source Code Pro', monospace;
}

.languageSelect:hover {
  background-color: rgba(60, 64, 72, 0.7);
}

.languageSelect:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.languageSelect option {
  background-color: #1e1e1e;
  color: #e2e4e7;
  font-family: 'Source Code Pro', monospace;
}

.editorWrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.editorWrapper > div {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay::after {
  content: 'Analysis in progress...';
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.copyButtonContainer {
  display: flex;
  align-items: center;
}
