@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/**
 * Sets the styles for the body element.
 * Applies a margin of 0, a font family stack, and text smoothing.
 * Also sets the background color of the page.
 */
body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

/**
 * Sets the styles for the code element.
 * Applies a font family stack specifically for code representation.
 */
code {
  font-family: 'Source Code Pro', monospace;
}